html {
    font-family: "Source Code Pro", monospace;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}
.logoL{
    float: left;
    margin-top: 10px;
    margin-left: 10px;

}
.logoR{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

header {
    font-size: 100px;
    text-align: center;
    padding-bottom: 5px;
    margin: 0;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.playerdata {
    background-color: lightgray;
    height: 150px;
    margin-bottom: 5px;
}
.playerdata h1{
    margin: 0;
    padding: 5px;
    font-size: medium;
    text-align: center;
}
.playerdata p{
    padding-left: 3px;
}
.UI {

    background-color: lightgray;
    height: 445px;
}

figure {
    height: 600px;
    width: 500px;
    float: right;
    margin: 0;
    padding: 0;
    border: 5px, solid, black;
    margin-bottom: 5px;
}

.texts {
    background-color: black;
    border: 5px, solid, black;
    width: 60%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.texts p {
    margin: 0;
}