html {
    font-family: "Source Code Pro", monospace;
}

body {
    margin-top: 0;
    margin-bottom: 0;
}

header {
    font-size: 100px;
    text-align: center;
    padding-bottom: 5px;
    margin: 0;
}

.playerdata {
    background-color: lightgray;
    height: 150px;
    margin-bottom: 5px;
}
.playerdata h1{
    margin: 0;
    padding: 0;
    font-size: medium;
    text-align: center;
}
.UI {
    background-color: lightgray;
    height: 445px;
}

figure {
    float: right;
    height: 600px;
    margin-top: 0;
    border: 5px, solid, black;
}

.texts {
    background-color: black;
    width: 800px;
    height: 600px;
    border: 5px, solid, black;
}

.texts p {
    margin: 0;
}